body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* .conteiner{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
} */



.scene{
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  padding: 0;
}
.layer{
  position: absolute;
  z-index: -5;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}
.layer__bg{
  background: url(./img/sky-clouds1.jpg);
  background-size: cover;
}
.layer__0{
  background: url(./img/01.png);
  background-size: cover;
  height: 80%;
  top: 20%;
}
.layer__1{
  background: url(./img/Mountain3.png);
  background-size: cover;
  height: 80%;
  top: 20%;
  left: -50%;
}
.layer__2{
  background: url(./img/Mountain2.png);
  background-size: cover;
  height: 40%;
  top: 60%;
}
.container{
  height: 100vh;
  width: 200%;
  background-color: #262c31f3;
  margin: 0 auto;
}
.container__first{
  /* margin: 0; */
  margin-top: 100vh;

}

.nav_bar{
  background-color: #2a069e !important;
  color: aliceblue;
  font-weight: bold;
}
.nav_center{
  text-align: center !important;
}
.title__main{
  font-weight: bold;
  color: #2a069e;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}
.blocks{
  width: 100%;
}
.line__block{
  float: left;

}

.block_line{
  display: flex;
  justify-content: center;
  margin: 25px;
  margin-top: 20%;
}

.block__one{
  background-color: #fff;
  height: 350px;
  width: 250px;
  border-radius: 15px;
  border: #29069e65 2px solid;
  align-content: center;
}
.block__foto{
  height: 200px;
  width: 85%;
  background-color: #362b2b;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
}
.block__text{
  padding: 8px;
  color: #1b1717;
  font-size: small;
}

.container__form{
  background-color: rgb(41, 38, 38);
}
.block__main__form{
  width: 70%;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 60px;
}

footer{
  height: 230px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin-top: 30%;
}
.footer__text{
  color: #2a069e;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

